<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6  d-flex flex-column justify-content-center" style="text-align: end;">
                <div>
                    <h1>Get Delicious Food</h1>
            <p>Explore our huge selection of delicious foods <br/> including easy desserts,Vegetarian,non-vegetarian 
                <br/>and many-more.</p>
                </div>
            <div class="d-flex flex-row justify-content-end">
                <button class="btn btn-primary button1">Explore Latest</button>
            <button class="btn btn-primary button2">Show Random</button>
            </div>
            </div>
            <div class="col-6">
              <img class="img12" src="images/8.png">
          </div>
        </div>
    </div>  
      <div>
          <h1>Next</h1>
      </div>
    
    
</body>
</html>