<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ordernow navtextel" href="http://localhost:3000/foodApp">Foody Place</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navmargin">
          <a class="nav-link active navtextel" aria-current="page" href="http://localhost:3000/foodApp" id="navtext1">Home</a>
          <a class="nav-link navtextel" id="navtext4" href="#sectionwc">About</a>
          <a class="nav-link navtextel" id="navtext7" href="http://localhost:3000/register">Register</a>
           <a class="nav-link navtextel" id="navtext8" href="http://localhost:3000/login">Login</a>
        </div>
      </div>
    </div>
  </nav>